:root {
  --background-dark:  #1f1f1f;
  --background-gray:  #f2f2f2;
  --blue:  #2f80ed;
  --text: #000000;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.logo {
  width: 228px;
  height: 32px;
}

.section-title {
  width: 60%;
  padding-bottom: 20px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  color: var(--text);
}

.section-subtitle {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: var(--text);
}

.table {
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  color: var(--text);
}

.table__text {
  margin: 0;
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: var(--text);
}

/* header start */

.header {
  box-sizing: border-box;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  background: var(--background-gray);
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  margin: 0;
  z-index: 3;
  max-width: 730px;
  width: 100%;
  padding-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  color: var(--text);
}

.header__subtitle {
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 3;
  max-width: 388px;
  width: 100%;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: var(--text);
}

.header__link {
  text-decoration: none;
  color: var(--blue);
  transition: .3s all;
}

.header__link:hover {
  opacity: .7;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 765px;
  height: 608px;
  object-fit: cover;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
  min-height: 568px;
  min-width: 568px;
  background: var(--blue);
}

/* header end */

.description {
  margin: 100px 0;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.two-columns__brief {
  margin: 0;
  max-width: 175px;
  width: 100%;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: var(--blue);
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: var(--text);
}

.two-columns__paragraph:nth-child(2) {
  padding: 30px 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

/* description end */

.digits {
  margin: 100px 0;
}

.table__text-label {
  padding-top: 20px;
}

/* digits end */

.feynman {
  box-sizing: border-box;
  position: relative;
  min-height: 890px;
  background: url(../images/feynman.png) no-repeat bottom left var(--background-gray);
}

.feynman__title {
  position: relative;
  z-index: 2;
  max-width: 648px;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  position: relative;
  z-index: 2;
  margin: 0;
  padding-top: 70px;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  z-index: 2;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: var(--blue);
  transition: .3s all;
}

.feynman__link:hover {
  opacity: .7;
}

.feynman__img {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 867px;
  max-height: 637px;
  z-index: 1;
}

/* feynman end */

.kaufman {
  position: relative;
  padding: 90px 0;
  overflow: hidden;
  background: url(../images/kaufman-triangle.svg) no-repeat 150% -75px var(--background-dark);
}

.section-title_theme_dark {
  position: relative;
  z-index: 2;
  color: #fff;
}

.section-subtitle_theme_dark {
  position: relative;
  z-index: 2;
  color: #fff;
}

.table_theme_dark {
  position: relative;
  z-index: 2;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: #fff;
}

.table__text_theme_dark {
  color: #fff;
}

/* kaufman end */

.footer {
  box-sizing: border-box;
  background: var(--background-dark);
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  margin: 0;
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 16px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
  transition: .3s all;
}

.footer__column-link:hover {
  color: var(--blue);
}

.footer__social-icon {
  max-width: 16px;
  max-height: 16px;
  margin-right: 10px;
}
